.navbar .container {
  height:100%;
}

.navbar .row {
  height:100%;
}

.navbar-header {
  overflow: hidden;
  height:100%;
}

.brand {
  width:100%;
  height:100%;
}

.brand .logo {
  min-height: 36px;
  height: 100%;
  float: left;
  margin: -7px 15px 0px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #AAA;
}

.brand .info {
  max-width: 490px;
  overflow: hidden;
  height: 100%;
  position: relative;
} 

.brand .title {
  margin-bottom: 10px;
  cursor: pointer;
}

.brand .description {
  font-size: 80%;
}

.brand .buttons {
  margin-top:20px;
  margin-left:3px;
}

.brand .info:after {
  position: absolute;
  left:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(248,248,248, 1) 0%, 
     rgba(248,248,248, 0) 20%, 
     rgba(248,248,248, 0) 100%
  );
  pointer-events: none;
} 

html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top:70px;
  margin-bottom: 40px;  
}

blockquote {
  font-size:100%;	
}

/* bootstrap doesn't provide footers, so we make our own */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;

  background-color: #f8f8f8;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px 0px 0px 0px;
  padding-top:10px;
}

.moving-image {
  float:left;
  position: relative;
  margin-right: 30px;
  overflow: hidden;
}

.moving-image .bg {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}

.moving-image .fg {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -1;
}

.posts h2 {
  /* make h2 a h3 heading*/
  font-size: 24px;
  
}

.person {
  float: left; 
  margin: 10px;
  text-align: center;
}

.person .name {
  color: black;
}

.person .profile {
  height: 150px;
  margin: 5px;
} 

@media (max-width: 768px) {
  .navbar-collapse {
    float: left;
    background-color: #f8f8f8;
    width: 100%;
    border-style: solid;
    border-color: #e7e7e7;
    border-width-bottom: 1px;
  }
  .brand .logo {
  	margin-left:-15px;
    max-height:150px;
  }
}

@media (max-width: 512px) {
  .brand .logo {
    max-height:90px;
  }

  .navbar-header {
  	padding-right: 0px;
  }

  .navbar-brand {
  	padding-right: 0px;
  }
}
